.page_g2 {
    .header {
        display: flex;
        width: 980px;
        height: 380px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: $overlay-pink, url(../images/gallery/2.jpeg);
        margin: auto;

        h1 {
            font-family: Gill;
            font-size: 300px;
            padding-top: 99px;
            color: $site-pink;
        }
        h2 {
            font-family: Gill;
            font-size: 140px;
            padding-top: 247px;
            color: $site-pink;
        }
    }


    .content {

        .text {
            display: flex;
            margin: 40px auto;
            width: 980px;
            height: 140px;

            p {
                width: 490px;
                padding: 0 20px 0;
                font-family: Gill;
                font-size: 16px;
            }
        }

    }
}